{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
      {% if user.is_authenticated %}
        <h3>Hello {{ user.username }}</h3>
        <h4>{{ coding_message}}. {{ progress_message}}</h4>
        <h3 style="color:red">{{ error }}</h3>
        {% if tweets %}

        <div class="col-sm-12 col-md-12" style="display: flex;">
            <div class="col-sm-4 col-md-4">
            <h3>Bio</h3>
            {% for tweet in tweets %}
            <h4>This is tweet with ID <a href="https://twitter.com/Interior/status/{{ tweet.tweet_id }}">{{ tweet.tweet_id }}</a></h4>
            <h4>from <a href="https://twitter.com/intent/user/?screen_name={{ tweet.user_name }}">{{ tweet.user_name }}</a></h4>

            {% endfor %}

            </div>
            <div class="col-sm-4 col-md-4">{{ embedded_tweet |safe }}</div>
            <div class="col-sm-4 col-md-4">
              {% if replies %}
              <h3>This tweet also mentions</h3>
                {% for at in replies%}
                <a href="{{ at }}">{{ at }}</a><br />
                {% endfor %}
              {% endif %}
            </div>
        </div>

          <form name="tweetForm" id="tweet_form" method="post" action="/coding/index/" onsubmit="return validateForm()" >

              {% csrf_token %}
              {% for hidden in form.hidden_fields %}
                  {{ hidden }}
              {% endfor %}
              {% for tweet in tweets %}
              <input id="tweet_id" name="tweet_id" type="hidden" value="{{ tweet.tweet_id }}" />
              <input id="children_count" name="children_count" type="hidden" value="{{ child_cats|length }}" />
              {% endfor %}
              {% for field in form.visible_fields %}
                  {{ field.errors }}
                  {{ field.help_text }}
                  {{ field }}
              {% endfor %}

              <div class="col-sm-12 col-md-12" style="display: flex;">
             {% for category in categories %}
                <div class="col-sm-2 col-md-2">
                <div class="funkyradio" id="{{ category.pk }}_div" style="{% if category in child_cats %}display: none;{% endif %}background:{% cycle '#8dd3c7' '#ffffb3' '#bebada' '#fb8072' '#80b1d3' '#fdb462' '#b3de69' '#fccde5' '#d9d9d9' '#bc80bd' %};border:5px;border-style:solid;border-color: {% cycle '#7cc2b6' '#eeeea2' '#ada9a9' '#ea7061' '#70a0c2' '#eca351' '#a2cd58' '#ebbbcd' '#c8c8c8' '#ab70ac' %};border-radius: 15px;padding: 0px 10px 10px 10px;margin: 5px 5px 5px 5px" >
                <h5>{{ category }}</h5>
                {% for feature in category.features.all %}
                  <div class="funkyradio-success"><input id="{{ feature.pk }}_check" class="selections {% if feature.child_category %}toggle-{{ feature.child_category.pk }}-status{% endif %}" type="radio" name="category_{{ category.pk }}" value="{{ feature.pk }}" /><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><label for="{{ feature.pk }}_check">{{ feature }}</label></div>
                {% endfor%}
                </div>
                {% if forloop.counter|divisibleby:6 %}
                </div><div class="col-sm-12 col-md-12" style="display: flex;">
                {% endif %}
              </div>
              {% endfor %}
              </div>


              <div class="col-sm-12 col-md-12">
                <br />
                <button class="btn btn-danger" type="reset" onClick="hideThings();" >Reset</button>
                <input type="submit" name="submit" value="Code" />
              </div>
          </form>

        {% else %}
          <strong>There are no tweets.</strong> <br />
        {% endif %}

      {% else %}
        <h1>How did you get here? Something has gone very wrong</h1>
      {% endif %}

{% endblock %}
