{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

        {% if tweet %}

          <ul>
              <li>{{ tweet.tweet_id }}</li>
              <li>{{ tweet.timestamp }}</li>
              <li>{{ tweet.user_name }}</li>
              <li>{{ tweet.tweet_text }}</li>
          </ul>

        {% if coding %}
          <h2>Coded</h2>
          <ul>
          {% for code in coding %}
          <li>{{ code.category }} : {{ code.feature }}</li>
          {% endfor %}
          </ul>
        {% endif %}

        {% if recoding %}
          <h2>ReCoded</h2>
          <ul>
          {% for code in recoding %}
          <li>{{ code.category }} : {{ code.feature }}</li>
          {% endfor %}
          </ul>
        {% endif %}

        {% else %}
          <strong>There are no tweets present.</strong> <br />
        {% endif %}

{% endblock %}
