<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Twitter Coding</title>

    <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-3.3.6-dist/examples/dashboard/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/funky_buttons.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/coding/">Coding</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}">Register Here</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}

              </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
           <div>
                {% block body_block %}{% endblock %}
           </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'bootstrap-3.3.6-dist/js/ie10-viewport-bug-workaround.js' %}"></script>

    <script type="text/javascript">
    {% for category in categories %}
      {% for feature in category.features.all %}
        {% if feature.child_category %}
        $('.toggle-{{ feature.child_category.pk }}-status').change(function (event) {
             document.getElementById('{{feature.child_category.pk}}_div').style.display = 'block';
           });
        {% endif %}
      {% endfor %}
    {% endfor %}
    </script>

    <script type="text/javascript">
    function validateForm() {
      form_valid = true;
      {% for category in categories %}
        {% if category not in child_cats %}
      var chx = document.getElementsByName('category_{{ category.pk }}');
      found = false;
      for (var i=0; i<chx.length; i++) {
        if (chx[i].type == 'radio' && chx[i].checked) {
          found = true;
        }
      }
      if (found == false) {
        form_valid = false;
      }
        {% endif %}
      {% endfor %}
      // End of the loop, return false
      if (form_valid == true) {
        return(true);
      }
      else {
        alert("Form Invalid");
        return(false);
      }
    }
    </script>

    <script type="text/javascript">
    function hideThings() {
      {% for category in categories %}
        {% for feature in category.features.all %}
          {% if feature.child_category %}
           document.getElementById('{{feature.child_category.pk}}_div').style.display = 'None';
          {% endif %}
        {% endfor %}
      {% endfor %}
    }
    </script>

  </body>
</html>
